<!DOCTYPE html>
<html lang="pt-bt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Registro de login</h1>
    <form action="/registro_de_login.html" method="post">
        <label for="nome">Nome:</label>
        <input type="text" id="nome" name="nome"><br>
        <label for="nome">email:</label>
        <input type="text" id="email" name="email"><br>
        <label for="idade">senha:</label>
        <input type="text" id="senha" name="senha"><br>
        <input type="submit" valeu="submit" >
    </form>
    <button><a href="{{ url_for('login_page') }}">Login</a></button>
</body>
</html>